body {
  background-color: #000000;
  color: white;
}

.logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}

.logo-header img {
  width: 37%;
  margin-top: 4px;
}

.pianoPage {
  align-items: center;
}
h1 {
  text-align: center;
  color: white;
}

.piano {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  outline: none;
  box-shadow: 0 10px 400px rgba(0, 166, 255, 0.876);
}

.piano::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 400px rgba(0, 166, 255, 0.876);
  pointer-events: none;
  z-index: -1; /* Ensure it stays behind content */
}

.white-key {
  border: 1px solid #000000;
  width: 80px;
  height: 250px;
  background-color: rgb(216, 216, 216);

  text-align: center;

  position: relative; /* Required for the shadow effect to work properly */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
    /* Shadow below the key */ 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly larger shadow for depth */
}
.black-key {
  background-color: black;
  width: 28px;
  height: 155px;
  margin-left: -30px;
  margin-right: -25px;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5),
    /* Shadow below the key */ 0 5px 10px rgba(0, 0, 0, 0.4); /* Slightly larger shadow for depth */
}

.white-key-text {
  position: fixed;
  bottom: 0;
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(0, 0, 0); /* Or white if black key */
}

.black-key-text {
  position: fixed;
  margin-right: 10px;
  margin-left: 10px;
  color: rgb(255, 255, 255); /* Or white if black key */
}

/* .active {
  background: linear-gradient(180deg, #ce3678, #F7B7F0);

} */

.white-key-active-o3 {
  background-color: #cc8888; /* Darker pink for octave 3 */
}

.white-key-active-o4 {
  background-color: #8ce9c2; /* Light green for octave 4 */
}

.white-key-active-o5 {
  background-color: #8888cc; /* Light blue for octave 5 */
}

.white-key-active-o6 {
  background-color: #ffffdd; /* Light yellow for octave 6 */
}

.white-key-active-o7 {
  background-color: #ffddff; /* Light purple for octave 7 */
}

.black-key-active-o3 {
  background-color: #cc8888; /* Darker pink for octave 3 */
}

.black-key-active-o4 {
  background-color: #8ce9c2; /* Darker green for octave 4 */
}

.black-key-active-o5 {
  background-color: #8888cc; /* Darker blue for octave 5 */
}

.black-key-active-o6 {
  background-color: #cccc88; /* Darker yellow for octave 6 */
}

.black-key-active-o7 {
  background-color: #cc88cc; /* Darker purple for octave 7 */
}

.past-keys-container {
  width: 30%;
  max-height: 100px;
  display: flex;
  /* flex-direction: column;  */
  gap:5px;
  overflow-y: auto; /* Enable scrolling here */

  padding: 15px;
  margin-left: 20px;
  border: 0.1px solid rgba(255, 255, 255, 0.606);
  border-radius: 15px;
}

.past-keys-wrapper {
  overflow-y: auto; /* Enable scrolling here */
  max-height: 100px;
  width: 90%;
}

.past-keys-container h2 {
  font-weight: 200;
  word-break: break-word;
  white-space: normal;
}
